<!DOCTYPE html PUBLIC>
{% load static %}
<html lang="en" ng-app="GameTheater">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Django/MongoEngine Demo</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Django/MongoEngine Demo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'admin:index' %}">Django Admin</a></li>
              <li><a href="https://github.com/ncortot/mongoengine-django-demo">Github Project</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <p>This is a test app.</p>

    </div>

    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
