<!DOCTYPE html PUBLIC>
{% load static %}
<html lang="en" ng-app="GameTheater">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Django/MongoEngine Demo</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <form action="/login/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="/" />
        <input type="submit" value="Log In" />
      </form>

    </div>
  </body>
</html>
